:root {
  /* colors */
  --button-color: #303ca5;
  --price-background-color: #f4f6fc;
  --body-background-color: #f7f8fc;

  --text-primary-color: #080f1a;
  --text-secondary-color: #73829e;
}
